<!DOCTYPE html>
<html lang="en">
<head>
    {% load  static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Present Perfect</title>
    <link rel="icon" href="{%static 'img/gem.svg'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/style_page.css'%} ">


</head>
<body>
    <!-- The sidebar -->
    <div class="sidebar">
        <a class="active" href="{% url 'index' %}">Grammary Tense</a>
        <a href="{% url 'present simple' %}">Present Simple</a>
        <a href="{% url 'present continuous' %}">Present Continuous</a>
        <a href="{% url 'present perfect' %}">Present Perfect</a>
        <a href="{% url 'past simple' %}">Past Simple</a>
        <a href="{% url 'past continuous' %}">Past continuous</a>
        <a href="{% url 'past perfect' %}">Past Perfect</a>
        <a href="{% url 'future simple' %}">Future Simple </a>
        

    </div> 
    <!-- Page content -->
    <div class="content">
        <h1>Present Perfect</h1>
        <h3>Form</h3>
        <p><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT';">Positive statement: </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have cooked, I have written , He has cooked, He has written (I've cooked, He's cooked)<br /> </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT';">Negative statement: </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have not worked (I haven't worked), He has not worked (He hasn't worked) </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT';">Question: </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">Have you worked? </span></p>
        <p><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPSMT';">Negative question: </span><span style="font-size: 12.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">Have you not worked? (Haven't you worked?) </span></p>
        <h3>Use</h3>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">The present perfect combines the past and present. </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">1. We use the present perfect simple for actions or states that started in the past and still continue. </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">We have lived here since 2001.<br /> She has known me for more than two years. I haven't seen her since Christmas.<br /> How long have they been here? </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">It is often used with expressions indicating that the activity began in the past and comes up to now, such as: for 10 years, since 1995, all week, all the time, always, lately, recently ...<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">We have always worked in York. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(We still work in York.)<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">It has been quite cold lately. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(It is still cold.) </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">If the activity started in the past and ended in the past we cannot use the present perfect. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have smoked for 5 years. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(present perfect - I still smoke.)<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I smoked for 5 years. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(past simple - I smoked from 2000 to 2005, then I stopped.) </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">2. We use it to describe an experience that happened in the past (the time is not given), but the effects are important now.<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">She has been to London. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(And so she knows London.) </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">Compare:<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have already been to Greece. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(experience - And I want to go somewhere else now.) </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have been in Greece for two weeks. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(state - I am stlill in Greece.) </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">When we use this tense to express some experience, we can use following adverbs - ever, never, already, often, occassionaly, yet, before ......<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">Have you ever tried it?<br /> She has never read this book. </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">We haven't seen it yet.<br /> Have you fallen off a bike yet? I haven't met her before. </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">3. The present perfect simple is used for past activities that have a present result.<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">The bus hasn't arrived. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(It did not arrived on time and we are still waiting now.)<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I have bought a new house. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(I did it last month and it means that now I have a new address.) </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">For such activities we often use these adverbs - yet, already, just. </span></p>
        <p><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">They haven't finished their homework yet. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(They can't go out now.) </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">Has she signed it yet? </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(Can I take the document?)<br /> </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">I've already sent the letter. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(There is no need to go to the post-office.) </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPS'; font-style: italic;">We have just heard the news. </span><span style="font-size: 11.000000pt; font-family: 'TimesNewRomanPSMT';">(We know about it.) </span></p>
        <h3>watch the next video please!</h3>
        <video  style="margin-left: 25px;" controls src="{%static 'video/Present Perfect.mp4'%}" width="400"></video>       
        <hr>
        <a href="{% url 'exercises' %}"><button type="button" class="btn btn-danger" >Practice Grammer ></button></a>
        <footer class="footer bg-black small text-center text-white-50" ><div id="color" class="container px-4 px-lg-5">Copyright &copy; Grammary Tense 2023</div></footer>

        
    </div> 
   
</body>
</html>